# Phase 2: Data Explorations

- How many rows and how many columns?
- What is the meaning of each row?
- Are there duplicated rows?
- What is the meaning of each column?
- What is the current data type of each column? Are there columns having
inappropriate data types?
- With each numerical column, how are values distributed?
    - What is the percentage ofmissing values?
    - Min? max? Are they abnormal?
- With each categorical column, how are values distributed?
    - What is the percentage of missing values?
    - How many different values? Show a few Are they abnormal?

### 1. Tiền xử lý

Bước 1:

In [4]:
import sys  
sys.path.insert(0, '../phase_1_data_collection')

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ipynb.fs.full.data_collection import df_credits_raw

Bước 2

In [37]:
df_credits_raw.head()

   person_id       id           name      character   role
0      59401  ts20945     Joe Besser            Joe  ACTOR
1      31460  ts20945     Moe Howard            Moe  ACTOR
2      31461  ts20945     Larry Fine          Larry  ACTOR
3      21174  tm19248  Buster Keaton    Johnny Gray  ACTOR
4      28713  tm19248    Marion Mack  Annabelle Lee  ACTOR

In [38]:
num_duplicate_data = df_credits_raw.duplicated().sum()
num_duplicate_data

4249

day la markdown

In [39]:
df_credits = df_credits_raw.drop_duplicates()

day la markdown

In [40]:
num_rows, num_cols = df_credits.shape
num_rows, num_cols

(264180, 5)

day la markdown

In [41]:
colums = df_credits.columns
colums

Index(['person_id', 'id', 'name', 'character', 'role'], dtype='object')

day la markdown

In [42]:
dtypes = df_credits.dtypes
dtypes

person_id     int64
id           object
name         object
character    object
role         object
dtype: object

day la markdown

In [43]:
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264180 entries, 0 to 77800
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   person_id  264180 non-null  int64
 1   id         264180 non-null  object
 2   name       264180 non-null  object
 3   character  233894 non-null  object
 4   role       264180 non-null  object
dtypes: int64(1), object(4)
memory usage: 12.1+ MB

day la markdoown

In [47]:
df_credits.drop('person_id', inplace=True, axis=1, errors='ignore')

/var/folders/m7/368g6v5d01g4x7brwcqrgvg40000gn/T/ipykernel_97125/2631785865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_credits.drop('person_id', inplace=True, axis=1, errors='ignore')

day la markdown

day la markdown

In [50]:
null_columns = df_credits.isnull().sum()
null_columns

id               0
name             0
character    30286
role             0
dtype: int64

day la markdown

In [49]:
def missing_ratio(c):
    return c.isnull().sum() / c.__len__() * 100

day la markdown

In [54]:
df_credits[null_columns[null_columns.values > 0].keys()].agg(missing_ratio).round(2)

character    11.46
dtype: float64

1. Name

In [15]:
df_credits['name'].value_counts()

Grey DeLisle                80
Frank Welker                74
Kevin Michael Richardson    64
Tara Strong                 62
Bess Flowers                60
                            ..
Aaron Maynard                1
Sydney Peterson              1
Griffin Duy                  1
Paul Milotte                 1
Julian Gaviria               1
Name: name, Length: 144587, dtype: int64

2. Character

In [20]:
df_credits['character'].unique()

array(['Joe', 'Moe', 'Larry', ..., 'María Paz', 'Karen Bayona', 'Cacica'],
      dtype=object)

In [24]:
df_credits['character'] = df_credits['character'].fillna('None')

/var/folders/m7/368g6v5d01g4x7brwcqrgvg40000gn/T/ipykernel_97125/3057256392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_credits['character'] = df_credits['character'].fillna('None')

3. Role

In [21]:
df_credits['role'].value_counts()

ACTOR       248640
DIRECTOR     15540
Name: role, dtype: int64

day la markdown

In [55]:
df_credits.set_index('name')

                           id      character      role
name
Joe Besser            ts20945            Joe     ACTOR
Moe Howard            ts20945            Moe     ACTOR
Larry Fine            ts20945          Larry     ACTOR
Buster Keaton         tm19248    Johnny Gray     ACTOR
Marion Mack           tm19248  Annabelle Lee     ACTOR
...                       ...            ...       ...
Adelaida Buscato    tm1059008      María Paz     ACTOR
Luz Stella Luengas  tm1059008   Karen Bayona     ACTOR
Inés Prieto         tm1059008          Fanny     ACTOR
Isabel Gaona        tm1059008         Cacica     ACTOR
Julian Gaviria      tm1059008            NaN  DIRECTOR

[264180 rows x 3 columns]