# Phase 1: Data Collection

- What subject is your data about? What is the source of your data?
- Do authors of this data allow you to use like this? You can check the data
license
- How did authors collect data?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
credit_raw_data = pd.read_csv('data/credits.csv')
credit_raw_data

,person_id,id,name,character,role
0,3748,tm84618,Robert De Niro,Travis Bickle,ACTOR
1,14658,tm84618,Jodie Foster,Iris Steensma,ACTOR
2,7064,tm84618,Albert Brooks,Tom,ACTOR
3,3739,tm84618,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR
4,48933,tm84618,Cybill Shepherd,Betsy,ACTOR
...,...,...,...,...,...
77796,736339,tm1059008,Adelaida Buscato,María Paz,ACTOR
77797,399499,tm1059008,Luz Stella Luengas,Karen Bayona,ACTOR
77798,373198,tm1059008,Inés Prieto,Fanny,ACTOR
77799,378132,tm1059008,Isabel Gaona,Cacica,ACTOR
77800,1950416,tm1059008,Julian Gaviria,NaN,DIRECTOR

# Phase 2: Data Explorations

- How many rows and how many columns?
- What is the meaning of each row?
- Are there duplicated rows?
- What is the meaning of each column?
- What is the current data type of each column? Are there columns having
inappropriate data types?
- With each numerical column, how are values distributed?
    - What is the percentage ofmissing values?
    - Min? max? Are they abnormal?
- With each categorical column, how are values distributed?
    - What is the percentage of missing values?
    - How many different values? Show a few Are they abnormal?

In [3]:
num_rows, num_cols = credit_raw_data.shape
num_rows, num_cols

(77801, 5)

In [4]:
credit_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77801 entries, 0 to 77800
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  77801 non-null  int64
 1   id         77801 non-null  object
 2   name       77801 non-null  object
 3   character  68029 non-null  object
 4   role       77801 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.0+ MB