# Phase 3: Asking meaningful questions that need to be answered

In [4]:
import sys  
sys.path.insert(0, '../phase_2_data_exploration')

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ipynb.fs.full.credits_exploration import df_credits 
from ipynb.fs.full.titles_exploration import df_titles

In [6]:
df_titles.head()

,id,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,The Three Stooges,SHOW,1934,TV-PG,19,"comedy, family, animation, action, fantasy, ho...",US,26.0,tt0850645,8.6,1092.0,15.424,7.6
1,tm19248,The General,MOVIE,1926,NONE,78,"action, drama, war, western, comedy, european",US,0.0,tt0017925,8.2,89766.0,8.647,8.0
2,tm82253,The Best Years of Our Lives,MOVIE,1946,NONE,171,"romance, war, drama",US,0.0,tt0036868,8.1,63026.0,8.435,7.8
3,tm83884,His Girl Friday,MOVIE,1940,NONE,92,"comedy, drama, romance",US,0.0,tt0032599,7.8,57835.0,11.270,7.4
4,tm56584,In a Lonely Place,MOVIE,1950,NONE,94,"thriller, drama, romance",US,0.0,tt0042593,7.9,30924.0,8.273,7.6

In [7]:
df_credits.head()

        id           name      character   role
0  ts20945     Joe Besser            Joe  ACTOR
1  ts20945     Moe Howard            Moe  ACTOR
2  ts20945     Larry Fine          Larry  ACTOR
3  tm19248  Buster Keaton    Johnny Gray  ACTOR
4  tm19248    Marion Mack  Annabelle Lee  ACTOR

In [9]:
df_data = df_titles.join(df_credits.set_index('id'))
df_data

,id,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,name,character,role
0,ts20945,The Three Stooges,SHOW,1934,TV-PG,19,"comedy, family, animation, action, fantasy, ho...",US,26.0,tt0850645,8.6,1092.0,15.424,7.6,NaN,NaN,NaN
0,tm155702,The Wizard of Oz,MOVIE,1939,G,102,"fantasy, family",US,0.0,tt0032138,8.1,389774.0,41.442,7.6,NaN,NaN,NaN
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,TV-MA,51,documentation,US,1.0,NaN,NaN,NaN,0.600,NaN,NaN,NaN,NaN
1,tm19248,The General,MOVIE,1926,NONE,78,"action, drama, war, western, comedy, european",US,0.0,tt0017925,8.2,89766.0,8.647,8.0,NaN,NaN,NaN
1,tm83648,Citizen Kane,MOVIE,1941,PG,119,drama,US,0.0,tt0033467,8.3,433804.0,14.383,8.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9866,tm510327,Lily Is Here,MOVIE,2021,NONE,93,drama,US,0.0,tt7672388,5.3,20.0,1.406,NaN,NaN,NaN,NaN
9867,tm1079144,Jay Nog: Something from Nothing,MOVIE,2021,NONE,55,comedy,US,0.0,tt15041600,NaN,NaN,0.600,NaN,NaN,NaN,NaN
9868,tm847725,Chasing,MOVIE,2021,NONE,116,crime,IN,0.0,NaN,NaN,NaN,1.960,NaN,NaN,NaN,NaN
9869,tm1054116,Baikunth,MOVIE,2021,NONE,72,"family, drama",,0.0,tt14331982,8.4,49.0,0.645,NaN,NaN,NaN,NaN
9870,ts275838,Waking Up Eighty,SHOW,2021,NONE,10,drama,,1.0,tt13542552,NaN,NaN,NaN,NaN,NaN,NaN,NaN