# Phase 3: Asking meaningful questions that need to be answered

Cài đặt thêm thư viện ipynb để có thể import các variable từ các file notebook khác

In [1]:
! pip install ipynb

Requirement already satisfied: ipynb in /Users/quytrungg/.pyenv/versions/3.10.6/lib/python3.10/site-packages (0.5.1)

In [2]:
import sys  
sys.path.insert(0, '../phase_1_data_collection')
sys.path.insert(0, '../phase_2_data_exploration')

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
%store -r df_titles
%store -r df_credits

df_titles = df_titles
df_credits = df_credits

In [10]:
df_titles.head()

,id,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,main_production_countries,main_genre
0,ts20945,The Three Stooges,SHOW,1934,TV-PG,19,"comedy, family, animation, action, fantasy, ho...",US,26.0,tt0850645,8.6,1092.0,15.424,7.6,US,comedy
1,tm19248,The General,MOVIE,1926,NONE,78,"action, drama, war, western, comedy, european",US,0.0,tt0017925,8.2,89766.0,8.647,8.0,US,action
2,tm82253,The Best Years of Our Lives,MOVIE,1946,NONE,171,"romance, war, drama",US,0.0,tt0036868,8.1,63026.0,8.435,7.8,US,romance
3,tm83884,His Girl Friday,MOVIE,1940,NONE,92,"comedy, drama, romance",US,0.0,tt0032599,7.8,57835.0,11.270,7.4,US,comedy
4,tm56584,In a Lonely Place,MOVIE,1950,NONE,94,"thriller, drama, romance",US,0.0,tt0042593,7.9,30924.0,8.273,7.6,US,thriller

In [11]:
df_credits.head()

        id           name      character   role
0  ts20945     Joe Besser            Joe  ACTOR
1  ts20945     Moe Howard            Moe  ACTOR
2  ts20945     Larry Fine          Larry  ACTOR
3  tm19248  Buster Keaton    Johnny Gray  ACTOR
4  tm19248    Marion Mack  Annabelle Lee  ACTOR

In [15]:
df_data = df_titles.merge(df_credits, on='id', how='inner')
df_data

,id,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,main_production_countries,main_genre,name,character,role
0,ts20945,The Three Stooges,SHOW,1934,TV-PG,19,"comedy, family, animation, action, fantasy, ho...",US,26.0,tt0850645,8.6,1092.0,15.424,7.6,US,comedy,Joe Besser,Joe,ACTOR
1,ts20945,The Three Stooges,SHOW,1934,TV-PG,19,"comedy, family, animation, action, fantasy, ho...",US,26.0,tt0850645,8.6,1092.0,15.424,7.6,US,comedy,Moe Howard,Moe,ACTOR
2,ts20945,The Three Stooges,SHOW,1934,TV-PG,19,"comedy, family, animation, action, fantasy, ho...",US,26.0,tt0850645,8.6,1092.0,15.424,7.6,US,comedy,Larry Fine,Larry,ACTOR
3,tm19248,The General,MOVIE,1926,NONE,78,"action, drama, war, western, comedy, european",US,0.0,tt0017925,8.2,89766.0,8.647,8.0,US,action,Buster Keaton,Johnny Gray,ACTOR
4,tm19248,The General,MOVIE,1926,NONE,78,"action, drama, war, western, comedy, european",US,0.0,tt0017925,8.2,89766.0,8.647,8.0,US,action,Marion Mack,Annabelle Lee,ACTOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268178,tm1059008,Lokillo,MOVIE,2021,NONE,90,comedy,CO,0.0,tt14585902,3.8,68.0,26.005,6.3,CO,comedy,Adelaida Buscato,María Paz,ACTOR
268179,tm1059008,Lokillo,MOVIE,2021,NONE,90,comedy,CO,0.0,tt14585902,3.8,68.0,26.005,6.3,CO,comedy,Luz Stella Luengas,Karen Bayona,ACTOR
268180,tm1059008,Lokillo,MOVIE,2021,NONE,90,comedy,CO,0.0,tt14585902,3.8,68.0,26.005,6.3,CO,comedy,Inés Prieto,Fanny,ACTOR
268181,tm1059008,Lokillo,MOVIE,2021,NONE,90,comedy,CO,0.0,tt14585902,3.8,68.0,26.005,6.3,CO,comedy,Isabel Gaona,Cacica,ACTOR
268182,tm1059008,Lokillo,MOVIE,2021,NONE,90,comedy,CO,0.0,tt14585902,3.8,68.0,26.005,6.3,CO,comedy,Julian Gaviria,None,DIRECTOR