In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import plotly as px

In [2]:
%store -r df_titles
%store -r df_credits

df_titles = df_titles
df_credits = df_credits

In [3]:
df_titles.head()

,id,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,main_production_countries,main_genre
0,ts20945,The Three Stooges,SHOW,1934,TV-PG,19,"comedy, family, animation, action, fantasy, ho...",US,26.0,tt0850645,8.6,1092.0,15.424,7.6,US,comedy
1,tm19248,The General,MOVIE,1926,NONE,78,"action, drama, war, western, comedy, european",US,0.0,tt0017925,8.2,89766.0,8.647,8.0,US,action
2,tm82253,The Best Years of Our Lives,MOVIE,1946,NONE,171,"romance, war, drama",US,0.0,tt0036868,8.1,63026.0,8.435,7.8,US,romance
3,tm83884,His Girl Friday,MOVIE,1940,NONE,92,"comedy, drama, romance",US,0.0,tt0032599,7.8,57835.0,11.270,7.4,US,comedy
4,tm56584,In a Lonely Place,MOVIE,1950,NONE,94,"thriller, drama, romance",US,0.0,tt0042593,7.9,30924.0,8.273,7.6,US,thriller

In [5]:
df_titles['production_countries'].value_counts()

US                    8824
IN                    1660
                      1160
GB                    1028
JP                     564
                      ...
US, CU                   1
DE, NL, PL               1
RO, ES, EE, ET, LV       1
BE, FR, IE, LU           1
PH, FO                   1
Name: production_countries, Length: 928, dtype: int64

In [7]:
df_titles['main_genre'].unique()

array(['comedy', 'action', 'romance', 'thriller', 'western', 'drama',
       'crime', 'history', 'horror', 'scifi', 'fantasy', 'documentation',
       'war', '', 'music', 'reality', 'family', 'sport', 'animation',
       'european'], dtype=object)