# **GIAI ĐOẠN 1: THU THẬP DỮ LIỆU**

## <p style="text-align: center;">MỤC LỤC</p>
1. [Trả lời câu hỏi](#answer-the-question)
2. [Nạp bộ dữ liệu](#import-data)

---
## <p style="text-align: center;">**Phần 1 - Trả lời câu hỏi** <a name="answer-the-question"></a></p> 

#### ***Câu hỏi 1**: Dữ liệu của bạn mang chủ đề gì? Được lấy từ nguồn nào?*
- Dữ liệu của nhóm thuộc lĩnh vực giải trí, cụ thể là phim ảnh. 
- Dữ liệu được lấy từ Kaggle - cộng đồng cho các nhà khoa học dữ liệu và những nhà thực hành máy học - bao gồm 6 tập tin csv chứa các dữ liệu phim khác nhau ứng với 3 nền tảng phân phối phim phổ biến hiện nay là Netflix, Amazon Prime và HBO Max.
- Bài viết chứa dữ liệu gốc: [Kaggle](https://www.kaggle.com/datasets/shivamb/netflix-shows)

#### ***Câu hỏi 2**: Liệu tác giả của bộ dữ liệu có cho phép sử dụng không? Nhóm bạn kiểm tra giấy phép của dữ liệu như thế nào?*
- Tác giả cho phép những người ngoài sử dụng bộ dữ liệu của mình.
- Minh chứng cho điều trên là trên trang chủ chứa dữ liệu chính, phần license có ghi là "CC0: Public Domain", tức người khác có thể sao chép, sửa đổi, phân phối và thực hiện trên bộ dữ liệu, ngay cả với mục đích thương mại, tất cả mà không cần xin phép. 
- Dẫn chứng: [CC0: Public Domain](https://creativecommons.org/publicdomain/zero/1.0/)
#### ***Câu hỏi 3**: Tác giả thu thập dữ liệu như thế nào?*
- Tác giả thu thập dữ liệu bằng cách lấy API từ trang: JustWatch.

---

## <p style="text-align: center;">**Phần 2 - Nạp bộ dữ liệu** <a name="answer-the-question"></a></p> 

Import dữ liệu về phim lẻ & phim truyền hình từ 3 nền tảng Netflix, Amazon Prime và HBO Max đã tải trên Kaggle.

##### **Bước 1: Import thư viện cần thiết**

In [1]:
import pandas as pd

##### **Bước 2: Đọc vào pandas các bộ dữ liệu từ 3 nền tảng.**
Mỗi bộ dữ liệu sẽ có 2 tập tin khác nhau, có vai trò lần lượt như sau:
-  Tập tin có tên là titles dùng để ghi lại thông tin chính của bộ phim.
-  Tập tin có tên là credits dùng để ghi lại thông tin của đạo diễn và diễn viên của phim.

Đọc dữ liệu từ nền tảng phân phối phim Amazon:

In [2]:
df_amazon_titles = pd.read_csv('../data/amazon/titles.csv')
df_amazon_credits = pd.read_csv('../data/amazon/credits.csv')

Đọc dữ liệu từ nền tảng phân phối phim HBO:

In [3]:
df_hbo_titles = pd.read_csv('../data/hbo/titles.csv')
df_hbo_credits = pd.read_csv('../data/hbo/credits.csv')

Đọc dữ liệu từ nền tảng phân phối phim Netflix.

In [4]:
df_netflix_titles = pd.read_csv('../data/netflix/titles.csv')
df_netflix_credits = pd.read_csv('../data/netflix/credits.csv')

##### **Bước 3: Nối các bộ dữ liệu thành một bảng dữ liệu chung cho cả 3 nền tảng:**
Vì các bộ dữ liệu credits cũng như titles có các thuộc tính giống nhau nên có thể nối được thành một bảng lớn tương ứng.

In [5]:
df_titles_raw = pd.concat([df_amazon_titles, df_hbo_titles, df_netflix_titles], axis=0)
df_credits_raw = pd.concat([df_amazon_credits, df_hbo_credits, df_netflix_credits], axis=0)

In ra để kiểm tra thông tin phim đã được nối bảng hay chưa:

In [6]:
df_titles_raw

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,tt0036868,8.1,63026.0,8.435,7.8
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,tt0042593,7.9,30924.0,8.273,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.8,45.0,1.466,NaN
5846,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,NaN,134,['drama'],[],NaN,tt11803618,7.7,348.0,NaN,NaN
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.3
5848,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,[],['US'],NaN,NaN,NaN,NaN,1.296,10.0
5849,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,"['family', 'animation', 'comedy']",[],1.0,tt13711094,7.8,18.0,2.289,10.0

In ra để kiểm tra thông tin diễn viên, đạo diễn của bộ phim được nối lại từ 3 bộ dữ liệu:

In [7]:
df_credits_raw

       person_id         id                name      character      role
0          59401    ts20945          Joe Besser            Joe     ACTOR
1          31460    ts20945          Moe Howard            Moe     ACTOR
2          31461    ts20945          Larry Fine          Larry     ACTOR
3          21174    tm19248       Buster Keaton    Johnny Gray     ACTOR
4          28713    tm19248         Marion Mack  Annabelle Lee     ACTOR
...          ...        ...                 ...            ...       ...
77796     736339  tm1059008    Adelaida Buscato      María Paz     ACTOR
77797     399499  tm1059008  Luz Stella Luengas   Karen Bayona     ACTOR
77798     373198  tm1059008         Inés Prieto          Fanny     ACTOR
77799     378132  tm1059008        Isabel Gaona         Cacica     ACTOR
77800    1950416  tm1059008      Julian Gaviria            NaN  DIRECTOR

[268429 rows x 5 columns]

---
KẾT THÚC GIAI ĐOẠN 1